html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
    background: rgba(209, 102, 102, 0.51) url("./soda.jpg") no-repeat fixed center;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

input {
  display: inline-block;
  float: left;
}

#container {
	background-color: #FFFFFF;

	border-left:2px solid #303030;
	border-right:2px solid #303030;

	width:1000px;
	min-height:100%;

	margin-left:auto;
	margin-right:auto;

	padding:0px;

    font-family: 'Raleway', sans-serif;
}
#header {
    background: rgba(0, 0, 0, 0.85);
    border-bottom:1px solid #303030;
    padding-top:5px;
}
#header h2 {
	margin:0px;
	color:#d16666;
}

#content {
	padding:5px;
    text-align: right;
}

a, a:visited {
	color:#d16666;
	font-weight:bold;
}
a:hover {
	color:#d16666;
}

.nav_button {
    border-radius: 8px;
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    cursor: pointer;
}
.nav_buttonA:hover {
    background-color: white;
    color: black;
}
.nav_buttonA {
    background-color: #000000;
    color: white;
}

.textarea {
		    width: 100%;
		    height: 150px;
		    padding: 12px 20px;
		    box-sizing: border-box;
		    border: 2px solid #ccc;
		    border-radius: 4px;
		    background-color: #f8f8f8;
		    font-size: 16px;
		    resize: none;
}

/*Store page (Products.php Product.php)*/
#displayProductsTable {
    width: 650px;
}
td.productPrice, td.productDesc {
    border-bottom: 3px solid #d16666;
}
td.productPrice {
    text-align: center;
    font-weight: bold;
}
td.productDesc {
    text-align:center;
    padding-left:15px;
}
#viewProductTable {
    text-align: center;
}
td.productInfo {
    font-weight:bold;
}
td.productPurchase {
    vertical-align: middle;
    padding-left: 20px;
}

/*Home page*/
h2.w3-center {
    text-align: center;
    color: #d16666;
    font-weight: bold;
}
div.w3-content, div.w3-display-container {
    padding-bottom: 15px;
}
img.mySlides {
    width: 100%;
    align-self: center;
}

/*Sign-Up page (newUser.php)*/
#userForm {
    text-align: left;
    color: red;
    padding-left: 5px;
}
#userForm2 {
    text-align: left;
    color: black;
    padding-left: 5px;
}

/*Login page (login.php)*/
#loginInfo {
    text-align: left;
    padding-left: 5px;
}
#createAccount {
    text-align: left;
    padding-left: 5px;
}

/*Contact page (contact.php)*/
#ajax-contact {
}
div.field {
}
#content2 {
    text-align: left;
    padding-left: 10px;
}

